
html, body {
 height: 100%;
 width: 100%;
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}
body {
 background-image: url("https://wallpaper.dog/large/20552168.jpg");
 background-size: cover;
}
#scene-description {
 width: 600px;
 margin: 20px auto;
 text-align: center;
 font-family: "Trebuchet MS";
 font-size: 0.8em;
 color: rgb(255, 255, 255);
}
#scene-container {
 width: 600px;
 height: 400px;
 margin: auto;
 border: 5px solid black;

 background: url(background.png);
 background-size: cover;
 overflow: hidden; /* contain objects "on-screen" */
}

#man1 {
width: 100px;
height: 130px;
background: url(Man1_Down.png);
background-size: contain;
background-repeat: no-repeat;
/*animation: changing-image 3s infinite linear; */

position: absolute;
top: 330px;
left: 500px;
z-index: 20;
}

#man2 {
width: 100px;
height: 130px;
background: url(Man2_Down.png);
background-size: contain;
background-repeat: no-repeat;
/*animation: changing-image 3s infinite linear; */

position: absolute;
top: 330px;
left: 220px;
z-index: 20;
}

@keyframes changing-image {
    0% {background: url(Man1_Down.png); }
    50% {background: url(Man1_Up.png); }
    100% {background: url(Man1_Down.png); }
}

