
html, body {
 height: 100%;
 width: 100%;
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}
body {
 background-image: url("https://wallpaper.dog/large/20552168.jpg");
 background-size: cover;
}
#scene-description {
 width: 600px;
 margin: 20px auto;
 text-align: center;
 font-family: "Trebuchet MS";
 font-size: 0.8em;
 color: rgb(255, 255, 255);
}
#scene-container {
 width: 600px;
 height: 400px;
 margin: auto;
 border: 5px solid black;

 background: url(background.png);
 background-size: cover;
 overflow: hidden; /* contain objects "on-screen" */
}

