
html, body {
 height: 100%;
 width: 100%;
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}
body {
 background-image: url("https://wallpaper.dog/large/20552168.jpg");
 background-size: cover;
}
#scene-description {
 width: 600px;
 margin: 20px auto;
 text-align: center;
 font-family: "Trebuchet MS";
 font-size: 0.8em;
 color: rgb(255, 255, 255);
}
#scene-container {
 width: 600px;
 height: 400px;
 margin: auto;
 border: 5px solid black;

 background: url(background.png);
 background-size: cover;
 overflow: hidden; /* contain objects "on-screen" */
}

#ball {
width: 10px;
height: 10px;
background-color: orange;
border-radius:50%;
animation: move 2s infinite linear;
}

#man1 {
width: 100px;
height: 130px;
background: url(Man1_Down.png);
background-size: contain;
background-repeat: no-repeat;
animation: changing-image 1.5s infinite linear;

position: absolute;
top: 330px;
left: 500px;
z-index: 20;
}

#man2 {
width: 100px;
height: 130px;
background: url(Man2_Down.png);
background-size: contain;
background-repeat: no-repeat;
animation: changing-image2 1.5s infinite linear; 

position: absolute;
top: 350px;
left: 220px;
z-index: 20;
}

@keyframes move {
    0% { transform: translate(250px, 200px); }
    25% { transform: translate(340px, 180px); }
    50% { transform: translate(430px, 200px); }
    75% { transform: translate(340px, 180px); }
    100% { transform: translate(250px, 200px); }
}

@keyframes changing-image {
    0% {
        background: url(Man1_Down.png);
        background-size: contain;
        background-repeat: no-repeat;
     }
    50% {
        background: url(Man1_Up.png);
        background-size: contain;
        background-repeat: no-repeat;
    
     }
    100% {
        background: url(Man1_Down.png); 
        background-size: contain;
        background-repeat: no-repeat;
    }
}

@keyframes changing-image2 {
    0% {
        background: url(Man2_Down.png);
        background-size: contain;
        background-repeat: no-repeat;
     }
    50% {
        background: url(Man2_Up.png);
        background-size: contain;
        background-repeat: no-repeat;
     }
    100% {
        background: url(Man2_Down.png); 
        background-size: contain;
        background-repeat: no-repeat;
    }
}

